.article-header {
    background-color: rgb(220, 200, 200);
}

/* #cardLink {
    display: block;
} */

.card {
    width: 100%;
}

.custom-card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.small-img {
    width: 250px;
}

@media (min-width: 992px) {
    .container {
        width: 60%;
    }
}

#post-content h2, #post-content h3 {
    margin-top: 1.2em;
}

pre {
    padding: 1.0em;
}