/* Generic page CSS */

#footer {
    border-radius: .25rem;
}

.article-header {
    background-color: rgb(220, 200, 200);
}

/* #cardLink {
    display: block;
} */

.card {
    width: 100%;
}

.custom-card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.small-img {
    width: 250px;
}

.small-figure {
    height: 300px;
}

@media (min-width: 992px) {
    .container {
        width: 60%;
    }
}

/* Post page CSS */

#post-container img {
    box-shadow: 0em 0em 0.6em 0.1em rgba(0, 0, 0, 0.6)
}

#post-body h2, #post-body h3 {
    margin-top: 1.2em;
}

pre {
    padding: 1.0em;
    border-radius: 0.40rem;
    box-shadow: 0em 0em 0.6em 0.1em rgba(0, 0, 0, 0.6)
}

body {
    background-color: rgb(247, 247, 247);
}

/* Portfolio page */

#portfolio div {
    font-size: 1.1rem;
}

#portfolio h2 {
    font-family: Staatliches, Roboto, sans-serif;
    font-weight: 400;
    margin-top: 1.2rem;
    font-size: 2.5rem;
}

#portfolio .lead {
    font-size: 1.75rem;
}

#portfolio .display-3 {
    /* font-family: Staatliches, Roboto, sans-serif; */
    /* font-family: Comfortaa, Roboto, sans-serif; */
    font-family: Roboto, "Source Sans Pro", Comfortaa, Staatliches, Railway, sans-serif;
    font-weight: 200;
    font-size: 3.6rem;
    /* padding-top: 1.8rem;
    padding-bottom: 1.8rem; */
    color: black;
    /* border-style: solid;
    border-radius: 5rem; */
    /* background-color: gray; */
    text-shadow: 0px 0px 10px rgba(10, 10, 10, 0.17);
    /* font-weight: 400; */
}

#portfolio .fa {
    font-size: 150%;
    vertical-align: middle;
}

#portfolio a, .btn {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#portfolio .btn {
    font-size: 1.2rem;
}

#portfolio img, #portfolio div .embed-responsive {
    box-shadow: 0em 0em 0.6em 0.1em rgba(0, 0, 0, 0.6);
    border-radius: 0.50rem;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

#portfolio .card {
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.8rem;
}

#portfolio .card-header {
    border-radius: 0.6rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

#portfolio #portfolio-card-header {
    /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
    background-image: linear-gradient(to left, #0acffe 0%, #557cfd 100%);
}

#portfolio #portfolio-gamedev-header {
    background-image: linear-gradient(-20deg, #fc7760 0%, #ffcd62 100%);
    /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
}

#portfolio #portfolio-softskills-header {
    background-image: linear-gradient(120deg, #79fcf1 0%, #96e6a1 100%);
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
}

#portfolio #portfolio-card {
    box-shadow: 0px 0px 16px rgba(0, 139, 253, 0.3);
    /* border: rgba(0, 139, 253, 0.15); */
}

#portfolio #gamedev-card {
    box-shadow: 0px 0px 16px rgba(247, 111, 87, 0.3);
}

#portfolio #softskills-card {
    box-shadow: 0px 0px 16px rgba(105, 248, 205, 0.3);
}

#portfolio .zelda {
    background-image: url("/img/portfolio/zelda.png");
}    

#portfolio .angry{
    background-image: url("/img/portfolio/angry-birds.png");
}    

#portfolio .breakout{
    background-image: url("/img/portfolio/breakout.png");
}

#portfolio .heli{
    background-image: url("/img/portfolio/heli3d.png");
}

#portfolio .pokemon {
    background-image: url("/img/portfolio/pokemon.png");
}

#portfolio .mario {
    background-image: url("/img/portfolio/mario.png");
}

